@import "libs/bootstrap-reboot.min";
@import "libs/font";
@import "libs/slick";



@import "base/variables";
@import "base/mixins";
@import "base/animations";
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    padding: 0 15px;
    max-width: 950px;
    margin: 0 auto;
}
@import "blocks/promo";
@import "blocks/header";
@import "blocks/advantages";
@import "blocks/consultation";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/feedback";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/forms";
@import "blocks/titles";
@import "blocks/buttons";
@import "blocks/pageup";
@import "blocks/media";

			
	